body{
    background: url(../images/background.png);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    overflow-y: hidden;
    overflow-x: hidden;
    color: white;
}

h1{
    position: absolute;
    top: 3%;
    right: 3%;
}

img{
    height: 300px;
    position: absolute;
    bottom: 3%;
    right: 4%;
    background-color: white;
    box-shadow: 5px 5px 10px black;
}